/* Partie générale du CSS */
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
h1
{
    font-family: 'crete round';
    font-size: 45px;
    color: #444;
}
.orange
{
    color: #ff7a00;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;    
    color: #444;
}
h2
{
    color: #444;
    font-size: 55px;
    font-weight: normal;
}
/* Partie spécifique à l'entête du corps du document */
header
{
    height: 120px;
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;
    margin-top: 50px;
}
header nav ul li
{
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
/* Partie spécifique à la section image principale */
#main-image
{
    height: 580px;
    background: url('images/main.jpg') center;
}
#main-image h2
{
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}
.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background-color: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    
}
.button-1:hover
{
    background-color: #02b8dd;
}
