/* Partie générale du CSS */
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
h1
{
    font-family: 'crete round';
    font-size: 45px;
    color: #444;
}
.orange
{
    color: #ff7a00;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;    
    color: #444;
}
h2
{
    color: #444;
    font-size: 55px;
    font-weight: normal;
}
h3
{
    color: #444;
    font-size: 24px;
}
p
{
    color: #777;
    line-height: 20px;
}
.clear
{
    clear:both;
}
small
{
    font-size: 12px;
    font-style: italic;
}
/* Partie spécifique à l'entête du corps du document */
header
{
    height: 120px;
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;
    margin-top: 50px;
}
header nav ul li
{
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
/* Partie spécifique à la section image principale */
#main-image
{
    height: 580px;
    background: url('images/main.jpg') center;
}
#main-image h2
{
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}
.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background-color: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}
.button-1:hover
{
    background-color: #02b8dd;
}
/* Partie spécifique à la section étapes */
#steps
{
    margin: 80px 0;
}
#steps li
{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}
#step-1
{
    background: url('images/steps-icon-1.png') no-repeat top center;
}
#step-2
{
    background: url('images/steps-icon-2.png') no-repeat top center;
}
#step-3
{
    background: url('images/steps-icon-3.png') no-repeat top center;
}
#steps h3
{
    text-transform: uppercase;
    margin-bottom: 20px; 
}
#steps p
{
    margin-bottom: 20px; 
}
/* Partie spécifique à la section possibilités */
#possibilities
{
    background-color: #efefef;
    padding: 60px 0;
}
#possibilities article
{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#possibilities article:first-child
{
    margin-right: 20px;
}
.overlay
{
    background: rgba(255,255,255,0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}
#article-1
{
    background: url('images/article-image-1.jpg');
}
#article-2
{
    background: url('images/article-image-2.jpg');
}
#possibilities h3
{
    border-bottom : 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#possibilities p
{
    margin-bottom: 20px; 
}
.button-2
{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius : 3px;
}
.button-2:hover
{
    background-color: #02b8dd;
}
