/* Partie générale du CSS */
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
h1
{
    font-family: 'crete round';
    font-size: 45px;
    color: #444;
}
.orange
{
    color: #ff7a00;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;    
    color: #444;
}
/* Partie spécifique à l'entête du corps du document */
header
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
